<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src= "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.1.0"></script>
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'dash/css/style.css' %}">
</head>
<body>
<h1>IDP Dashboard</h1>

<canvas id="paretoChart" width="80" height="80"></canvas>
<canvas id="pieChart" width="80" height="80"></canvas>
<canvas id="availabilityChart" width="80" height="80"></canvas>

<script>
    const paretodata = {{ pareto.minutes }};
    const paretolabels = {{ pareto.labels|safe }};
    const uptime = {{ uptime }};
    const labels1 = {{ pie.machines_labels|safe }};
    const labels2 = {{ pie.failures_labels|safe }};
    const pielvl2 = {{ pie.failures_times }};
    const pielvl1 = {{ pie.machines_times }};
    const piecolors1 = {{ pie.machines_colors|safe }};
    const piecolors2 = {{ pie.failures_colors|safe }};

    const ajaxurl = "{% url 'upload_data' %}";
</script>

<script src="{% static 'dash/js/paretoChart.js' %}"></script>
<script src="{% static 'dash/js/pieChart.js' %}"></script>
<script src="{% static 'dash/js/availabilityChart.js' %}"></script>
<script src="{% static 'dash/js/update.js' %}"></script>
</body>
</html>