<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src= "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.1.0"></script>
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{% static 'dash/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'dash/css/timeline.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'dash/css/dashboardlayout.css' %}">
</head>

<body>

<header>
    <h1>IDP Dashboard</h1>
    <a href="{% url 'reset' %}">Reset</a>
</header>


<div class="wrapper-dashboard">
    <div class="timeline">
        <canvas id="timelineChart"></canvas>
    </div>

    <div class="availability">
        <canvas id="availabilityChart"></canvas>
    </div>

    <div class="performance">
        <canvas id="performanceChart"></canvas>
    </div>

    <div class="quality">
        <canvas id="qualityChart"></canvas>
    </div>

    <div class="oee">
        <canvas id="oeeChart"></canvas>
    </div>


    <div class="pareto">
        <canvas id="paretoChart"></canvas>
    </div>

    <div class="failures">
        <canvas id="pieChart"></canvas>
    </div>


</div>

<script>

    const timelinelabels = {{ timeline.labels|safe }};
    var timelines = [];
    {% for array in timeline.timelines %}
        timelines.push({{ array }});
    {% endfor %}

    const paretodata = {{ pareto.minutes }};
    const paretolabels = {{ pareto.labels|safe }};

    const uptimedata = {{ uptime.nums }};
    const uptimelabel = {{ uptime.uptime }};
    const uptimecolor = {{ uptime.color|safe }};

    const performancedata = {{ performance.nums }};
    const performancelabel = {{ performance.performance }};
    const performancecolor = {{ performance.color|safe }};

    const qualitydata = {{ quality.nums }};
    const qualitylabel = {{ quality.quality }};
    const qualitycolor = {{ quality.color|safe }};

    const oeedata = {{ oee.nums }};
    const oeelabel = {{ oee.oee }};
    const oeecolor = {{ oee.color|safe }};

    const labels1 = {{ pie.machines_labels|safe }};
    const labels2 = {{ pie.failures_labels|safe }};
    const pielvl2 = {{ pie.failures_times }};
    const pielvl1 = {{ pie.machines_times }};
    const piecolors1 = {{ pie.machines_colors|safe }};
    const piecolors2 = {{ pie.failures_colors|safe }};

    const ajaxurl = "{% url 'upload_data' %}";
</script>

<script src="{% static 'dash/js/timelineChart.js' %}"></script>
<script src="{% static 'dash/js/availabilityChart.js' %}"></script>
<script src="{% static 'dash/js/performanceChart.js' %}"></script>
<script src="{% static 'dash/js/qualityChart.js' %}"></script>
<script src="{% static 'dash/js/oeeChart.js' %}"></script>
<script src="{% static 'dash/js/paretoChart.js' %}"></script>
<script src="{% static 'dash/js/pieChart.js' %}"></script>

 <script src="{% static 'dash/js/update.js' %}"></script>
</body>
</html>