<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src= "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'dash/css/style.css' %}">
</head>
<body>
<h1>IDP Dashboard</h1>

<canvas id="paretoChart" width="80" height="80"></canvas>
<canvas id="pieChart" width="80" height="80"></canvas>
<canvas id="availabilityChart" width="80" height="80"></canvas>

<script>
    const paretodata = {{ categories_min }};
    const paretolabels = {{ categories|safe }};
    const uptime = {{ uptime }}
    const ajaxurl = "{% url 'upload_data' %}";
</script>

<script src="{% static 'dash/js/paretoChart.js' %}"></script>
<script src="{% static 'dash/js/pieChart.js' %}"></script>
<script src="{% static 'dash/js/availabilityChart.js' %}"></script>
<!--<script src="{% static 'dash/js/update.js' %}"></script>-->
</body>
</html>