<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src= "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>Dashboard</title>
</head>
<body>
Aqui deberia ir un dashboard


<canvas id="myChart" width="80" height="80"></canvas>
<canvas id="pieChart" width="80" height="80"></canvas>
<canvas id="availabilityChart" width="80" height="80"></canvas>
<script>
const ctx = document.getElementById('myChart').getContext('2d');
const myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['cat'],
        datasets: [{
            label: '',
            data: [],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
</script>
<script>
const ctx2 = document.getElementById('pieChart').getContext('2d');
const pieChart = new Chart(ctx2, {
    type: 'pie',
    data: {
        labels: ['TEST1','TEST2','TEST3'],
        datasets: [{
            label: 'My First Dataset',
            data: [300, 50, 100],
            backgroundColor: [
              'rgb(255, 99, 132)',
              'rgb(54, 162, 235)',
              'rgb(255, 205, 86)',
              'rgb(65, 158, 64)',
              'rgb(88, 255, 14)'
            ]
        }]
    }
});
</script>
<script>
const ctx3 = document.getElementById('availabilityChart').getContext('2d');
const availabilityChart = new Chart(ctx3, {
    type: 'doughnut',
    data: {
        labels: ['Uptime','Downtime'],
        datasets: [{
            label: 'My First Dataset',
            data: [90, 10],
            backgroundColor: [
              'rgb(0, 58, 255 )',
              'rgb(201, 201, 201 )',
            ]
        }]
    }
});
</script>
<script>
$(document).ready(function(){

    setInterval(function(){
      $.ajax({
          url: "{% url 'upload_data' %}",
          type: "GET",
          dataType: "json",
          success: (response_data) => {
            console.log(response_data);
            myChart.data.labels = response_data.categories;
            myChart.data.datasets[0].data = response_data.categories_min;
            myChart.data.datasets[0].label = response_data.categories;
            myChart.update();
            pieChart.data.labels = response_data.description;
            pieChart.data.datasets[0].data = response_data.description_min;
            pieChart.data.datasets[0].label = response_data.description;
            pieChart.update();
            availabilityChart.data.datasets[0].data = [response_data.uptime, 100-response_data.uptime];
            availabilityChart.update();
           },
          error: (error) => {
            console.log(error);
          }
      });
    }, 10000);

});
</script>
</body>
</html>