<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src= "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>Dashboard</title>
    <style>
        li {
            color: red
        }
    </style>
</head>
<body>
Aqui deberia ir un dashboard
<div>
<ul>
    <li id="tiempo">Time: {{ data.time }}</li>
    <li>Machine 1: B1= <span id = "M1B1">{{ data.M1B1}}</span> B2= <span id = "M1B2">{{ data.M1B2}}</span> B3= <span id = "M1B3">{{ data.M1B3}}</span></li>
    <li>Machine 2: B1= <span id = "M2B1">{{ data.M2B1}}</span> B2= <span id = "M2B2">{{ data.M2B2}}</span> B3= <span id = "M2B3">{{ data.M2B3}}</span></li>
    <li>Machine 3: B1= <span id = "M3B1">{{ data.M3B1}}</span> B2= <span id = "M3B2">{{ data.M3B2}}</span> B3= <span id = "M3B3">{{ data.M3B3}}</span></li>
</ul>
</div>

<canvas id="myChart" width="80" height="80"></canvas>
<script>
const ctx = document.getElementById('myChart').getContext('2d');
const myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['Machine 1', 'Machine 2', 'Machine 3'],
        datasets: [{
            label: 'Downtime',
            data: {{ machine_times }},
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
</script>
<script>
$(document).ready(function(){

    setInterval(function(){
      $.ajax({
          url: "{% url 'upload_data' %}",
          type: "GET",
          dataType: "json",
          success: (data) => {
            //console.log(data);
            $("#tiempo").empty();
            $("#tiempo").append("Time: " + data.time);
            $("#M1B1").empty();
            $("#M1B1").append(data.M1B1);
            $("#M1B2").empty();
            $("#M1B2").append(data.M1B2);
            $("#M1B3").empty();
            $("#M1B3").append(data.M1B3);
            $("#M2B1").empty();
            $("#M2B1").append(data.M2B1);
            $("#M2B2").empty();
            $("#M2B2").append(data.M2B2);
            $("#M2B3").empty();
            $("#M2B3").append(data.M2B3);
            $("#M3B1").empty();
            $("#M3B1").append(data.M3B1);
            $("#M3B2").empty();
            $("#M3B2").append(data.M3B2);
            $("#M3B3").empty();
            $("#M3B3").append(data.M3B3);
          },
          error: (error) => {
            console.log(error);
          }
      });
    }, 1000);

});
</script>
</body>
</html>